<div class="d-flex flex-wrap justify-content-between">

    {% for subject in subjects %}
    <div class="card mb-3 w-50">
        <div class="card-body">
            <h5 class="card-title">Điểm môn {{subject['ten']}}</h5>
            <div class="mb-3">
                <label for="{{subject['id']}}11" class="form-label">Hệ số 1</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">1</span>
                    <input type="text" class="form-control" id="{{subject['id']}}11" aria-label="{{subject['id']}}11" value="{{subject['hs1'][0]}}">
                    <span class="input-group-text">2</span>
                    <input type="text" class="form-control" id="{{subject['id']}}12" aria-label="{{subject['id']}}12" value="{{subject['hs1'][1]}}">
                    <span class="input-group-text">3</span>
                    <input type="text" class="form-control" id="{{subject['id']}}13" aria-label="{{subject['id']}}13" value="{{subject['hs1'][2]}}">
                </div>
            </div>
            <div class="mb-3">
                <label for="{{subject['id']}}21" class="form-label">Hệ số 2</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">1</span>
                    <input type="text" class="form-control" id="{{subject['id']}}21" aria-label="{{subject['id']}}21" value="{{subject['hs2'][0]}}">
                </div>
            </div>
            <div class="mb-3">
                <label for="{{subject['id']}}31" class="form-label">Hệ số 3</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">1</span>
                    <input type="text" class="form-control" id="{{subject['id']}}31" aria-label="{{subject['id']}}31" value="{{subject['hs3'][0]}}">
                </div>
            </div>
            <div class="mb-3">
                <label for="{{subject['id']}}TB" class="form-label">Điểm trung bình</label>
                <input type="text" class="form-control" id="{{subject['id']}}TB" aria-label="{{subject['id']}}TB" value="{{subject['diemTB']}}">
            </div>
        </div>
    </div>
    {% endfor %}

</div>