<div class="d-flex flex-wrap justify-content-between">

    {% for subject in subjects %}
    <div class="card mb-3 w-50" id="{{subject['id']}}">
        <div class="card-body">
            <h5 class="card-title">Điểm môn {{subject['ten']}}</h5>
            <div class="mb-3">
                <label for="{{subject['id']}}tx1" class="form-label">Điểm kiểm tra thường xuyên</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">1</span>
                    <input type="text" class="form-control" id="{{subject['id']}}tx1" aria-label="{{subject['id']}}tx1" value="{{subject['tx1']}}">
                    <span class="input-group-text">2</span>
                    <input type="text" class="form-control" id="{{subject['id']}}tx2" aria-label="{{subject['id']}}tx2" value="{{subject['tx2']}}">
                    <span class="input-group-text">3</span>
                    <input type="text" class="form-control" id="{{subject['id']}}tx3" aria-label="{{subject['id']}}tx3" value="{{subject['tx3']}}">
                </div>
            </div>
            <div class="mb-3">
                <label for="{{subject['id']}}gk" class="form-label">Điểm kiểm tra giữa kỳ</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">1</span>
                    <input type="text" class="form-control" id="{{subject['id']}}gk" aria-label="{{subject['id']}}gk" value="{{subject['gk']}}">
                </div>
            </div>
            <div class="mb-3">
                <label for="{{subject['id']}}ck" class="form-label">Điểm kiểm tra cuối kỳ</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">1</span>
                    <input type="text" class="form-control" id="{{subject['id']}}ck" aria-label="{{subject['id']}}ck" value="{{subject['ck']}}">
                </div>
            </div>
            <div class="mb-3">
                <label for="{{subject['id']}}TB" class="form-label">Điểm trung bình</label>
                <input type="text" class="form-control" id="{{subject['id']}}TB" aria-label="{{subject['id']}}TB" disabled value="{{subject['diemTB']}}">
            </div>
        </div>
    </div>
    {% endfor %}

</div>
