<div class="d-flex flex-wrap justify-content-between">

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Thông tin cơ bản</h5>
            <div class="mb-3">
                <label for="inputTen" class="form-label">Họ tên:</label>
                <input type="text" class="form-control" id="editInputHoTen" value="{{ hs.hoTen }}">
            </div>
            <div class="mb-3">
                <label for="inputNgaySinh" class="form-label">Ngày sinh:</label>
                <input type="date" class="form-control" id="editInputNgaySinh" value="{{ hs.ngaySinh }}">
            </div>
            <div class="mb-3">
                <label for="selectGioiTinh" class="form-label">Giới tính:</label>
                <select class="form-select" id="editSelectGioiTinh">
                    <option value="Nam" {% if hs.gioiTinh=="Nam" %}selected{% endif %}>Nam</option>
                    <option value="Nữ" {% if hs.gioiTinh=="Nữ" %}selected{% endif %}>Nữ</option>
                </select>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Thông tin quan hệ</h5>
            <div class="mb-3">
                <label for="selectLop" class="form-label">Học lớp:</label>
                <select class="form-select" id="editSelectHocLop">
                    <option value="">Chọn lớp</option>
                    {% for lop in dsLop %}
                    <option value="{{ lop.id }}" {% if lop.ten==hs.hocLop.ten %}selected{% endif %}>{{ lop.ten }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="inputMe" class="form-label">Thông tin của mẹ:</label>
                <div class="input-group">
                    <input type="text" class="form-control" disabled aria-describedby="btnEditMe" id="editInputMe" value="{{ hs.me.hoTen }}">
                    <button class="btn btn-outline-secondary" type="button" id="btnEditMe">Sửa</button>
                </div>
            </div>
            <div class="mb-3">
                <label for="inputCha" class="form-label">Thông tin của cha:</label>
                <div class="input-group">
                    <input type="text" class="form-control" disabled aria-describedby="btnEditCha" id="editInputCha" value="{{ hs.cha.hoTen }}">
                    <button class="btn btn-outline-secondary" type="button" id="btnEditCha">Sửa</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Học tập và rèn luyện</h5>
            <div class="mb-3">
                <label for="inputHocLuc" class="form-label">Học lực:</label>
                <input disabled type="text" class="form-control" id="editInputHocLuc" value="{{ hs.hocLuc }}">
            </div>
            <div class="mb-3">
                <label for="selectHanhKiem" class="form-label">Hạnh kiểm:</label>
                <select class="form-select" id="editSelectHanhKiem">
                    <option value="Tốt" {% if hs.hanhKiem=="Tốt" %}selected{% endif %}>Tốt</option>
                    <option value="Khá" {% if hs.hanhKiem=="Khá" %}selected{% endif %}>Khá</option>
                    <option value="Trung bình" {% if hs.hanhKiem=="Trung bình" %}selected{% endif %}>Trung bình</option>
                    <option value="Yếu" {% if hs.hanhKiem=="Yếu" %}selected{% endif %}>Yếu</option>
                </select>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Tổng kết</h5>
            <div class="mb-3">
                <label for="inputDiemTB" class="form-label">Điểm trung bình:</label>
                <div class="input-group">
                    <input type="text" class="form-control" disabled aria-describedby="btnEditDiemTB" id="editInputDiemTB" value="{{ hs.diemTB }}">
                    <button class="btn btn-outline-secondary" type="button" id="btnEditDiemTB" onclick="showDiemSo('{{ hs.name }}')">Sửa</button>
                </div>

            </div>
            <div class="mb-3">
                <label for="inputDanhHieu" class="form-label">Danh hiệu:</label>
                <input disabled type="text" class="form-control" id="editInputDanhHieu" value="{{ hs.danhHieu }}">
            </div>
        </div>
    </div>

</div>

<script>
    function showDiemSo(id) {
        $.get('/api/getDS', {
            id: id
        }, function (data) {
            var modal = `
            <div class="modal fade" id="modalEditDiemSo" aria-labelledby="modalEditDiemSoLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditDiemSoLabel">Chỉnh sửa thông tin Điểm số của học sinh: {{hs.hoTen}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ${data}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="$('#modalEditDiemSo').modal('hide');saveDiemSo('${id}')">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
            `
            $('body').append(modal);
            $('#modalEditDiemSo').modal('show');
            $('#modalEditDiemSo').on('hidden.bs.modal', function (event) {// Code xử lý sự kiện khi modal-dialog đã ẩn hoàn toàn
                $('#modalEditDiemSo').remove();
            })
        });
    }
    function layDiemSo() {
        ids = [{% for diem in hs.diemSo %}"{{diem.monHoc.name}}",{% endfor %}];
        const diemList = {};
        ids.forEach((id) => {
            
            const hs1 = [$('#'+id+'11').val(), $('#'+id+'12').val(), $('#'+id+'13').val()];
            const hs2 = [$('#'+id+'21').val()];
            const hs3 = [$('#'+id+'31').val()];

            diemList[id]={
                id: id,
                hs1: hs1,
                hs2: hs2,
                hs3: hs3
            };
        });

        return diemList;
    }
    function saveDiemSo(id) {
        dsDiem = layDiemSo();
        console.log(dsDiem);
        $.post('/api/saveDS', {
            id: id,
            dsDiem: dsDiem
        }, function (data) {
            if (data) {
                //alert("Sửa điểm thành công!");
            } else {
                alert("Sửa điểm thất bại!");
            }
        });
    }
</script>