<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
    {% block head %}{%  endblock %}
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">Sematic Web Project by <b>Lê Hoàn Chân</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/hocSinh/edit">Học sinh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nhanVien/edit">Giáo viên / Nhân viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lopHoc/edit">Lớp học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/monHoc/edit">Môn học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diemSo/edit">Điểm số</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/toChuc/edit">Tổ chức</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% block script %}{% endblock %}
</body>

</html>