{% extends "_layout.html" %}
{% block title %}Danh sách học sinh{% endblock %}
{% block head %}
<style>
    @media(min-width: 768px) {
        .form-group {
            margin-bottom: 0;
        }

        .form-group label {
            display: inline-block;
            width: 120px;
            margin-right: 10px;
        }
    }
</style>
{% endblock %}
{% block content %}
<!-- Phần bảng điều khiển -->
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4 text-center my-4">Danh sách học sinh</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputSearch">Họ tên:</label>
                    <input type="text" class="form-control" id="inputSearch" placeholder="Nhập tên học sinh...">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selectLop">Lớp:</label>
                    <select class="form-control" id="selectLop">
                        <option value="">Tất cả</option>
                        {% for lop in dsLop %}
                        <option value="{{ lop.id }}">{{ lop.ten }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputNgaySinh">Ngày sinh:</label>
                    <input type="date" class="form-control" id="inputNgaySinh" placeholder="Chọn ngày sinh...">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selectGioiTinh">Giới tính:</label>
                    <select class="form-control" id="selectGioiTinh">
                        <option value="">Tất cả</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary" type="button" id="btnSearch"><i class="fa fa-search"></i>Tìm kiếm</button>
            {% if edit %}
            <button class="btn btn-success" type="button" id="btnAdd"><i class="fa fa-plus"></i>Thêm mới</button>
            {% endif %}
        </div>
    </div>
</div>

<!-- Phần hiển thị dữ liệu -->
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Lớp</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    {% if edit %}
                    <th>Thao tác</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="tableData">
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function formatDate(dateString) {
        // Khởi tạo đối tượng Date từ chuỗi ngày tháng
        const date = new Date(dateString);

        // Lấy ngày, tháng, năm từ đối tượng Date
        const day = date.getDate().toString().padStart(2, "0");
        const month = (date.getMonth() + 1).toString().padStart(2, "0"); // Tháng bắt đầu từ 0
        const year = date.getFullYear();

        // Định dạng lại chuỗi ngày tháng theo định dạng dd/mm/yyyy
        const formattedDate = `${day}/${month}/${year}`;

        return formattedDate;
    }
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var hoTen = $('#inputSearch').val();
            var hocLop = $('#selectLop').val();
            var ngaySinh = $('#inputNgaySinh').val();
            var gioiTinh = $('#selectGioiTinh').val();

            $.get('/api/dsHS', {
                hoTen: hoTen,
                hocLop: hocLop,
                ngaySinh: ngaySinh,
                gioiTinh: gioiTinh
            }, function (data) {
                $('#tableData').empty();

                $.each(data, function (index, hs) {
                    var row = '<tr>';
                    row += '<td>' + hs.hoTen + '</td>';
                    row += '<td>' + hs.hocLop + '</td>';
                    row += '<td>' + formatDate(hs.ngaySinh) + '</td>';
                    row += '<td>' + hs.gioiTinh + '</td>';
                    {% if edit %}
                    row += '<td>';
                    row += '<button class="btn btn-primary btn-sm mx-2" type="button" onclick="editHocSinh(\'' + hs.id + '\')">Sửa</button>';
                    row += '<button class="btn btn-danger btn-sm mx-2" type="button" onclick="deleteHocSinh(\'' + hs.id + '\')">Xoá</button>';
                    row += '</td>';
                    {% endif %}
                    row += '</tr>';
                    $('#tableData').append(row);
                });
            });
        });
    {% if edit %}
        $('#btnAdd').click(function(){
            $.get('/api/newHS', {}, function (data) {
                var modal = `
                <div class="modal fade" id="modalNewHocSinh" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalNewHocSinhLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalNewHocSinhLabel">Thêm mới học sinh</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ${data.html}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="$('#modalNewHocSinh').modal('hide');saveHocSinh('${data.id}')">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
                `
                $('body').append(modal);
                $('#modalNewHocSinh').modal('show');
                $('#modalNewHocSinh').on('hidden.bs.modal', function (event) {// Code xử lý sự kiện khi modal-dialog đã ẩn hoàn toàn
                    $('#modalNewHocSinh').remove();
                })
            });
        })
    {% endif %}
    });
{% if edit %}
    function deleteHocSinh(id) {
        if (confirm("Bạn có chắc chắn muốn xoá học sinh này?")) {
            $.post('/api/deleteHS', {
                id: id
            }, function (data) {
                if (data) {
                    //alert("Xoá học sinh thành công!");
                    $('#btnSearch').click();
                } else {
                    alert("Xoá học sinh thất bại!");
                }
            });
        }
    }
    function editHocSinh(id) {
        $.get('/api/getHS', {
            id: id
        }, function (data) {
            var modal = `
            <div class="modal fade" id="modalEditHocSinh" aria-labelledby="modalEditHocSinhLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditHocSinhLabel">Chỉnh sửa thông tin học sinh</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ${data}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="$('#modalEditHocSinh').modal('hide');saveHocSinh('${id}')">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
            `
            $('body').append(modal);
            $('#modalEditHocSinh').modal('show');
            $('#modalEditHocSinh').on('hidden.bs.modal', function (event) {// Code xử lý sự kiện khi modal-dialog đã ẩn hoàn toàn
                $('#modalEditHocSinh').remove();
            })
        });
    }
    function saveHocSinh(id) {
        var hoTen = $('#editInputHoTen').val();
        var hocLop = $('#editSelectHocLop').val();
        var ngaySinh = $('#editInputNgaySinh').val();
        var gioiTinh = $('#editSelectGioiTinh').val();
        $.post('/api/saveHS', {
            id: id,
            hoTen: hoTen,
            hocLop: hocLop,
            ngaySinh: ngaySinh,
            gioiTinh: gioiTinh
        }, function (data) {
            if (data) {
                //alert("Sửa học sinh thành công!");
                $('#btnSearch').click();
            } else {
                alert("Sửa học sinh thất bại!");
            }
        });
    }
{% endif %}
</script>
{% endblock %}