{% extends "_layout.html" %}
{% block title %}Lớp học{% endblock %}
{% block head %}
<style>
    .card {
        width: 32%;
    }
</style>
{% endblock %}
{% block content %}

<!-- Phần hiển thị dữ liệu -->
<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-wrap justify-content-between">
        
            {% for lop in dsLop %}
            <div class="card my-3" id="{{lop.name}}">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Lớp {{lop.ten}}</h5>
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-danger" type="button" onclick="window.location.href='/lop/{{lop.name}}'">Xoá</button>
                        <button class="btn btn-outline-primary" type="button" onclick="window.location.href='/lop/{{lop.name}}'">Tải lại</button>
                        <button class="btn btn-outline-success" type="button" onclick="window.location.href='/lop/{{lop.name}}'">Lưu</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="{{lop.name}}ten" class="form-label">Tên lớp</label>
                        <input type="text" class="form-control" id="{{lop.name}}ten" aria-label="{{lop.name}}ten" value="{{lop.ten}}">
                    </div>
                    <div class="mb-3">
                        <label for="{{lop.name}}gvcn" class="form-label">Giáo viên chủ nhiệm</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{lop.name}}gvcn" disabled aria-describedby="btnEdit{{lop.name}}gvcn" value="{{ lop.gvcn }}">
                            <button class="btn btn-outline-secondary" type="button" id="btnEdit{{lop.name}}gvcn">Sửa</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{lop.name}}ten" class="form-label">Phòng</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{lop.name}}phong" disabled aria-describedby="btnEdit{{lop.name}}phong" value="{{ lop.phong }}">
                            <button class="btn btn-outline-secondary" type="button" id="btnEdit{{lop.name}}phong">Sửa</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{lop.name}}ten" class="form-label">Số lượng học sinh</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{lop.name}}slHS" disabled aria-describedby="btnEdit{{lop.name}}slHS" value="{{ lop.slHS }}">
                            <button class="btn btn-outline-secondary" type="button" id="btnEdit{{lop.name}}slHS">Sửa</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var ten = $('#inputSearch').val();
            var loai = $('#selectType').val();

            $.get('/api/dsLH', {
                ten: ten,
                loai: loai
            }, function (data) {
                $('#tableData').empty();

                $.each(data, function (index, lh) {
                    var row = '<tr>';
                    row += '<td>' + lh.ten + '</td>';
                    row += '<td>' + lh.loai + '</td>';
                {% if edit %}
                    row += '<td>';
                    row += '<button class="btn btn-primary btn-sm mx-2" type="button" onclick="editLopHoc(\'' + lh.id + '\')">Sửa</button>';
                    row += '<button class="btn btn-danger btn-sm mx-2" type="button" onclick="deleteLopHoc(\'' + lh.id + '\')">Xoá</button>';
                    row += '</td>';
                {% endif %}
                    row += '</tr>';
                    $('#tableData').append(row);
                });
            });
        });
    {% if edit %}
        $('#btnAdd').click(function () {
            $.get('/api/newLH', {}, function (data) {
                var modal = `
                <div class="modal fade" id="modalNewLopHoc" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalNewLopHocLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalNewLopHocLabel">Thêm mới Lớp học</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ${data.html}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="$('#modalNewLopHoc').modal('hide');saveLopHoc('${data.id}')">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
                `
                $('body').append(modal);
                $('#modalNewLopHoc').modal('show');
                $('#modalNewLopHoc').on('hidden.bs.modal', function (event) {// Code xử lý sự kiện khi modal-dialog đã ẩn hoàn toàn
                    $('#modalNewLopHoc').remove();
                })
            });
        })
    {% endif %}
    });
{% if edit %}
    function deleteLopHoc(id) {
        if (confirm("Bạn có chắc chắn muốn xoá Tổ chức / Lớp học này?")) {
            $.post('/api/deleteLH', {
                id: id
            }, function (data) {
                if (data) {
                    //alert("Xoá Tổ chức / Lớp học thành công!");
                    $('#btnSearch').click();
                } else {
                    alert("Xoá Tổ chức / Lớp học thất bại!");
                }
            });
        }
    }
    function editLopHoc(id) {
        $.get('/api/getLH', {
            id: id
        }, function (data) {
            var modal = `
            <div class="modal fade" id="modalEditLopHoc" aria-labelledby="modalEditLopHocLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditLopHocLabel">Chỉnh sửa thông tin Tổ chức / Lớp học</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ${data}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="$('#modalEditLopHoc').modal('hide');saveLopHoc('${id}')">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
            `
            $('body').append(modal);
            $('#modalEditLopHoc').modal('show');
            $('#modalEditLopHoc').on('hidden.bs.modal', function (event) {// Code xử lý sự kiện khi modal-dialog đã ẩn hoàn toàn
                $('#modalEditLopHoc').remove();
            })
        });
    }
    function saveLopHoc(id) {
        var ten = $('#editInputTen').val();
        var loai = $('#editSelecType').val();
        $.post('/api/saveLH', {
            id: id,
            ten: ten,
            loai: loai
        }, function (data) {
            if (data) {
                //alert("Sửa Tổ chức / Lớp học thành công!");
                $('#btnSearch').click();
            } else {
                alert("Sửa Tổ chức / Lớp học thất bại!");
            }
        });
    }
{% endif %}
</script>
{% endblock %}