{% extends "_layout.html" %}
{% block title %}Môn học{% endblock %}
{% block head %}
<style>
    .card {
        width: 32%;
    }
</style>
{% endblock %}
{% block content %}

<!-- Phần hiển thị dữ liệu -->
<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-wrap justify-content-between">
        
            {% for mon in dsMon %}
            <div class="card my-3" id="{{mon.name}}">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{mon.ten}}</h5>
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-danger" type="button" onclick="window.location.href='/mon/{{mon.name}}'">Xoá</button>
                        <button class="btn btn-outline-primary" type="button" onclick="window.location.href='/mon/{{mon.name}}'">Tải lại</button>
                        <button class="btn btn-outline-success" type="button" onclick="window.location.href='/mon/{{mon.name}}'">Lưu</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="{{mon.name}}ten" class="form-label">Tên môn</label>
                        <input type="text" class="form-control" id="{{mon.name}}ten" aria-label="{{mon.name}}ten" value="{{mon.ten}}">
                    </div>
                    <div class="mb-3">
                        <label for="{{mon.name}}soTiet" class="form-label">Số tiết</label>
                        <input type="text" class="form-control" id="{{mon.name}}soTiet" aria-label="{{mon.name}}soTiet" value="{{mon.soTiet}}">
                    </div>
                    <div class="mb-3">
                        <label for="{{mon.name}}slGV" class="form-label">Số lượng giáo viên</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{mon.name}}slGV" disabled aria-describedby="btnEdit{{mon.name}}slGV" value="{{ mon.slGV }}">
                            <button class="btn btn-outline-secondary" type="button" id="btnEdit{{mon.name}}slGV">Sửa</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <button class="btn btn-primary" type="button" onclick="window.location.href='/mon/{{mon.name}}'">Quản lý điểm</button>
                    <button class="btn btn-success" type="button" onclick="window.location.href='/mon/{{mon.name}}'">Phân công giảng dạy</button>
                </div>
            </div>
            {% endfor %}
        
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var ten = $('#inputSearch').val();
            var loai = $('#selectType').val();

            $.get('/api/dsLH', {
                ten: ten,
                loai: loai
            }, function (data) {
                $('#tableData').empty();

                $.each(data, function (index, mh) {
                    var row = '<tr>';
                    row += '<td>' + mh.ten + '</td>';
                    row += '<td>' + mh.loai + '</td>';
                {% if edit %}
                    row += '<td>';
                    row += '<button class="btn btn-primary btn-sm mx-2" type="button" onclick="editMonHoc(\'' + mh.id + '\')">Sửa</button>';
                    row += '<button class="btn btn-danger btn-sm mx-2" type="button" onclick="deleteMonHoc(\'' + mh.id + '\')">Xoá</button>';
                    row += '</td>';
                {% endif %}
                    row += '</tr>';
                    $('#tableData').append(row);
                });
            });
        });
    {% if edit %}
        $('#btnAdd').click(function () {
            $.get('/api/newLH', {}, function (data) {
                var modal = `
                <div class="modal fade" id="modalNewMonHoc" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalNewMonHocLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalNewMonHocLabel">Thêm mới Môn học</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ${data.html}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="$('#modalNewMonHoc').modal('hide');saveMonHoc('${data.id}')">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
                `
                $('body').append(modal);
                $('#modalNewMonHoc').modal('show');
                $('#modalNewMonHoc').on('hidden.bs.modal', function (event) {// Code xử lý sự kiện khi modal-dialog đã ẩn hoàn toàn
                    $('#modalNewMonHoc').remove();
                })
            });
        })
    {% endif %}
    });
{% if edit %}
    function deleteMonHoc(id) {
        if (confirm("Bạn có chắc chắn muốn xoá Tổ chức / Môn học này?")) {
            $.post('/api/deleteLH', {
                id: id
            }, function (data) {
                if (data) {
                    //alert("Xoá Tổ chức / Môn học thành công!");
                    $('#btnSearch').click();
                } else {
                    alert("Xoá Tổ chức / Môn học thất bại!");
                }
            });
        }
    }
    function editMonHoc(id) {
        $.get('/api/getLH', {
            id: id
        }, function (data) {
            var modal = `
            <div class="modal fade" id="modalEditMonHoc" aria-labelledby="modalEditMonHocLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditMonHocLabel">Chỉnh sửa thông tin Tổ chức / Môn học</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ${data}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="$('#modalEditMonHoc').modal('hide');saveMonHoc('${id}')">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
            `
            $('body').append(modal);
            $('#modalEditMonHoc').modal('show');
            $('#modalEditMonHoc').on('hidden.bs.modal', function (event) {// Code xử lý sự kiện khi modal-dialog đã ẩn hoàn toàn
                $('#modalEditMonHoc').remove();
            })
        });
    }
    function saveMonHoc(id) {
        var ten = $('#editInputTen').val();
        var loai = $('#editSelecType').val();
        $.post('/api/saveLH', {
            id: id,
            ten: ten,
            loai: loai
        }, function (data) {
            if (data) {
                //alert("Sửa Tổ chức / Môn học thành công!");
                $('#btnSearch').click();
            } else {
                alert("Sửa Tổ chức / Môn học thất bại!");
            }
        });
    }
{% endif %}
</script>
{% endblock %}