{% extends "_layout.html" %}
{% block title %}Tổ chức{% endblock %}
{% block head %}
<style>
    .card {
        width: 32%;
    }
</style>
{% endblock %}
{% block content %}

<!-- Phần hiển thị dữ liệu -->
<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-wrap justify-content-between">

            {% for toChuc in dsToChuc %}
            <div class="card my-3" id="{{toChuc.name}}">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{toChuc.ten}}</h5>
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-danger" type="button" onclick="window.location.href='/toChuc/{{toChuc.name}}'">Xoá</button>
                        <button class="btn btn-outline-primary" type="button" onclick="window.location.href='/toChuc/{{toChuc.name}}'">Tải lại</button>
                        <button class="btn btn-outline-success" type="button" onclick="window.location.href='/toChuc/{{toChuc.name}}'">Lưu</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="{{toChuc.name}}ten" class="form-label">Tên tổ chức</label>
                        <input type="text" class="form-control" id="{{toChuc.name}}ten" aria-label="{{toChuc.name}}ten" value="{{toChuc.ten}}">
                    </div>
                    <div class="mb-3">
                        <label for="{{toChuc.name}}slThanhVien" class="form-label">Số lượng thành viên</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{toChuc.name}}slThanhVien" disabled aria-describedby="btnEdit{{toChuc.name}}slThanhVien" value="{{ toChuc.slThanhVien }}">
                            <button class="btn btn-outline-secondary" type="button" id="btnEdit{{toChuc.name}}slThanhVien">Sửa</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{toChuc.name}}ten" class="form-label">Phòng</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="{{toChuc.name}}phong" disabled aria-describedby="btnEdit{{toChuc.name}}phong" value="{{ toChuc.phong }}">
                            <button class="btn btn-outline-secondary" type="button" id="btnEdit{{toChuc.name}}phong">Sửa</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var ten = $('#inputSearch').val();
            var loai = $('#selectType').val();

            $.get('/api/dsTC', {
                ten: ten,
                loai: loai
            }, function (data) {
                $('#tableData').empty();

                $.each(data, function (index, tc) {
                    var row = '<tr>';
                    row += '<td>' + tc.ten + '</td>';
                    row += '<td>' + tc.loai + '</td>';
                    {% if edit %}
                    row += '<td>';
                    row += '<button class="btn btn-primary btn-sm mx-2" type="button" onclick="editToChuc(\'' + tc.id + '\')">Sửa</button>';
                    row += '<button class="btn btn-danger btn-sm mx-2" type="button" onclick="deleteToChuc(\'' + tc.id + '\')">Xoá</button>';
                    row += '</td>';
                    {% endif %}
                    row += '</tr>';
                    $('#tableData').append(row);
                });
            });
        });
        {% if edit %}
        $('#btnAdd').click(function () {
            $.get('/api/newTC', {}, function (data) {
                var modal = `
                <div class="modal fade" id="modalNewToChuc" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalNewToChucLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalNewToChucLabel">Thêm mới Tổ chức</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ${data.html}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="$('#modalNewToChuc').modal('hide');saveToChuc('${data.id}')">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
                `
                $('body').append(modal);
                $('#modalNewToChuc').modal('show');
                $('#modalNewToChuc').on('hidden.bs.modal', function (event) {// Code xử lý sự kiện khi modal-dialog đã ẩn hoàn toàn
                    $('#modalNewToChuc').remove();
                })
            });
        })
        {% endif %}
    });
    {% if edit %}
    function deleteToChuc(id) {
        if (confirm("Bạn có chắc chắn muốn xoá Tổ chức này?")) {
            $.post('/api/deleteTC', {
                id: id
            }, function (data) {
                if (data) {
                    //alert("Xoá Tổ chức thành công!");
                    $('#btnSearch').click();
                } else {
                    alert("Xoá Tổ chức thất bại!");
                }
            });
        }
    }
    function editToChuc(id) {
        $.get('/api/getTC', {
            id: id
        }, function (data) {
            var modal = `
            <div class="modal fade" id="modalEditToChuc" aria-labelledby="modalEditToChucLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditToChucLabel">Chỉnh sửa thông tin Tổ chức</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ${data}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="$('#modalEditToChuc').modal('hide');saveToChuc('${id}')">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
            `
            $('body').append(modal);
            $('#modalEditToChuc').modal('show');
            $('#modalEditToChuc').on('hidden.bs.modal', function (event) {// Code xử lý sự kiện khi modal-dialog đã ẩn hoàn toàn
                $('#modalEditToChuc').remove();
            })
        });
    }
    function saveToChuc(id) {
        var ten = $('#editInputTen').val();
        var loai = $('#editSelecType').val();
        $.post('/api/saveTC', {
            id: id,
            ten: ten,
            loai: loai
        }, function (data) {
            if (data) {
                //alert("Sửa Tổ chức thành công!");
                $('#btnSearch').click();
            } else {
                alert("Sửa Tổ chức thất bại!");
            }
        });
    }
    {% endif %}
</script>
{% endblock %}